# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/

# Tooling
.ruff_cache/
.pytest_cache/

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp

# Application-specific
.autohack/
